<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>At Logic Automation Design, we specialize in providing high-quality automation control parts
         to help businesses optimize their operations. Our extensive inventory of used parts includes a 
          wide range of brands and models, ensuring that you can find the specific parts you need for your 
          automation system. In addition, we also design and manufacture aftermarket solutions for unique 
          challenges and requirements. With years of experience in the industry, we have the expertise to 
          help you find the best solutions for your automation needs.</p>
      </div>
      <div class="col-lg-4">
        <p>Our mission is to provide exceptional service and expertise to our customers. 
          We believe in building long-term relationships with our clients and providing them with reliable solutions 
          that meet their specific needs. Whether you need used parts for a legacy system or a customized solution 
          for a unique application, we have the knowledge and resources to help you succeed. We are committed to 
          quality, reliability, and innovation, and we are dedicated to helping our customers improve their operations 
          through effective automation control solutions. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://www.ebay.ca" class="btn btn-lg btn-outline">
          <i class="fas fa-shopping-cart"></i> Parts Sales
        </a>
      </div>
    </div>
  </div>
</section>
